


#recipetitle {
    background-color: black;
    text-align: center;
    color: bisque;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 25px;
    text-shadow: 5px;

}
.description {
    background-color: black;
    text-align: center;
    border-style: solid;
    border-color: blue;
    color: azure;
    font-size: medium;
    border-radius: 50px;
}
#tacosI {
    background-color: bisque;
    color: darkslategrey;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
}
#tacosP {
    background-color: blanchedalmond;
    color: darkslategray;
    border-style: dashed;
    border-color: black;
    border-radius: 25px;

}

img {
    width: 300px;
    height: 400px;
}